extends ./layout.pug

block body
  .container
    .header
      h1 Mật khẩu đã được cập nhật
    .content
      h2 Xin chào #{name}!
      p Mật khẩu tài khoản của bạn vừa được thay đổi thành công.
      p Nếu không phải bạn thực hiện, vui lòng liên hệ ngay với bộ phận hỗ trợ.
    .footer
      p © #{new Date().getFullYear()} Kim Hong Thinh JSC. All rights reserved.
        p 945/3 Ấp 3, Sơn Đông, Bến Tre